:root {
    --primaryColor: #ff7171;
}
.col-1 {
    width: calc(100% / 12 * 1); 
}
.col-2 {
    width: calc(100% / 12 * 2); 
}
.col-3 {
    width: calc(100% / 12 * 3); 
}
.col-4 {
    width: calc(100% / 12 * 4); 
}
.col-5 {
    width: calc(100% / 12 * 5); 
}
.col-6 {
    width: calc(100% / 12 * 6); 
}
.col-7 {
    width: calc(100% / 12 * 7); 
}
.col-8 {
    width: calc(100% / 12 * 8); 
}
.col-9 {
    width: calc(100% / 12 * 9); 
}
.col-10 {
    width: calc(100% / 12 * 10); 
}
.col-11 {
    width: calc(100% / 12 * 11); 
}
.col-12 {
    width: calc(100% / 12 * 12); 
}

.nopa {
    padding: 0!important;
}
a {
    display: inline-block;
    color: #333333;
}

h2 {
    font-size: 13px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content {
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 8px 10px;
    color: #fff;
}

.btn {
    color: #ffffff;
    background-color: var(--primaryColor);
    padding: 8px 15px;
}

p {
    font-size: 14px;
    color: #555555;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 1px;
}

/* nav-info */
#nav-info {
    /* height: 50px; */
    /* background-color: #ccc; */
    padding-top: 20px;
    padding-bottom: 20px;

    position: absolute;
}
#nav-info a {
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    padding: 8px 15px;
    color: #fff;
}
#nav-info .addr {
    float: left;
    /* line-height: 50px; */
    padding: 8px 15px;
    /* background-color: #a0f; */
    color: #fff;
}
#nav-info .register li {
    float: right;
    /* line-height: 50px; */
    /* background-color: #a0f; */
}
#nav-info .donate {
    float: right;
}

/* nav */
nav {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 78px;
}
nav .logo {
    float: left;
}
nav .menu {
    float: right;
}
nav li {
    float: left;
    transform: all .2;
}
nav a {
    padding: 8px 15px;
    color: #fff;
    transform: all .2;
}
nav a:hover {
    border: 2px;
    color: #e06;
}
/* header */
header {
    height: 800px;
    /* background-image: linear-gradient(#fff,rgba(255,255,255,.5)); */
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* feature */
#feature {
    padding-top: 50px;
    padding-bottom: 50px;
    /* overflow: auto; */
}
#feature h2 {
    /* font-size: 13px; */
    padding-top: 15px;
    padding-bottom: 15px;
}
.line, .line-light {
    position: relative;
}
.line::before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    border-top:3px solid var(--primaryColor);
    left: 0px;
    top: 23px;
}
.line-light::before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    border-top:3px solid #fff;
    left: 0px;
    top: 23px;
}

#feature .col-10 {
    padding-right: 130px;
}
#feature h3 {
    font-size: 28px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 32px;
}
#feature p {
    padding-top: 15px;
    padding-bottom: 30px;
    line-height: 35px;
}
#feature .col-5 {
    padding-left: 120px;
    padding-right: 120px;
}

/* events */
#events {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: 
    linear-gradient(rgba(255, 112, 112,.3),rgba(255, 112, 112,.3)),
    url(../images/photo-1532197894789-9865bcdbc277.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
#events h2 {
    font-size: 28px;
}
#events p {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
}

/* gallery */
#gallery {
    padding-top: 50px;
    padding-bottom: 50px;
}

#gallery .col-4 {
    height: 600px;
    overflow: hidden;
    /* background-color: #bb0000; */
}
#gallery .col-6 {
    height: 300px;
    overflow: hidden;
}
/* upcoming */
#upcoming {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: 
    linear-gradient(rgba(92, 92, 92, 0.6),rgba(92, 92, 92, 0.6)),
    url(../images/photo-1532348854900-2b544bcf012f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#upcoming .day {
    height: 65px;
    text-align: center;
    background-color: var(--primaryColor);
}
#upcoming .content {
    display: table;
    width: 100%;
    line-height: 25px;
    /* padding: 10px; */
}
#upcoming .title, #upcoming .time, #upcoming .addr {
    display: table-cell;
    width: calc(100% / 3);
    vertical-align: middle;
}
/* blog */
#blog {
    padding-top: 50px;
    padding-bottom: 50px;
}

#blog .pic {
    height: 300px;
    overflow: hidden;
    position: relative;
}
.pic .date {
    height: 100px;
    width: 100px;    
    position: absolute;
    background-color: var(--primaryColor);
    bottom: 0px;
    text-align: center;
    color: #fff;

    display: table;
}
#blog .day {
    /* margin-top: 30px; */
    display: table-cell;
    vertical-align: middle;
}
#blog h3 {
    font-size: 30px;
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#blog p {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 30px;
}

/* search */
#search {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: 
    linear-gradient(rgba(124, 124, 124, 0.5),rgba(124,124,124,.5)),
    url(../images/photo-1532645629974-4c547567dccc.jpg);
}
#search .line-light {
    color: #fff;
}
#search .introduce h3 {
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}
#search .introduce p {
    line-height: 25px;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
#search .box {
    height: calc(310px / 3);
    width: 100%;
    border-bottom: 2px solid rgb(255, 255, 255,.5);
    margin-bottom: 25px;
    color: #fff;

    position: relative;
}
#search .podcasts h3 {
    padding: 5px 15px;
}
#search .play {
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
}
#search .box .col-12 {
    padding-top: 30px;
}
#search .podcasts p {
    display: inline-block;
    color: var(--primaryColor);
    font-weight: 500;
    position: absolute;
    bottom: 10px;
}

/* joinus */
#joinus {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--primaryColor);
}
#joinus i {
    color: #fff;
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}
#joinus h3 {
    font-size: 30px;
    color: #fff;
    font-weight: normal;
    padding-bottom: 10px;
}
#joinus p {
    color: #fff;
}
#joinus .col-5 {
    text-align: center;
}
#joinus a {
    border: 2px solid #fff;
    width: 300px;
    text-align: center;
    line-height: 50px;
    padding: 10px 20px;
    /* margin: auto; */
}

/* footer */
footer {
    /* padding: 30px 0; */
    height: 50px;
    line-height: 50px;
}
footer .col-4 {
    text-align: right;
}
footer .col-4 a {
    width: 40px;
    line-height: 40px;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background-color: #ddd;
}
footer .col-4 a:hover {
    background-color: #eee;
}
